.product-page {
  &__back {
    border: 2px solid #f2f2f2;
    padding: 5px 10px;
    background-color: #fff;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    color: #d3d3d3;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0 0 20px 0;
    &:hover {
      border-color: #9dd458;
      color: #9dd458;
    }
  }
  &-row {
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }
  &__gallery {
    // background-color: #000;
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    &-slider {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0px 20px 0 0;
      & > img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border: 2px solid transparent;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
          border: 2px solid gray;
        }
      }
    }
    &-main-image {
      // background-color: #ccc;
      margin: 0 20px 0 0;
      img {
        width: 450px;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__info {
    border-radius: 30px;
    padding: 20px 30px;
    // max-width: 700px;
    width: 100%;
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      color: rgba(38, 38, 38, 0.6);
      z-index: 16;
      font-weight: 400;
      h3 {
        color: #000;
        font-weight: 600;
      }
      b {
        color: #000;
        font-weight: 600;
      }
    }
  }
  &__buttons {
    display: flex;
    // flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }
  &__button {
    &-cart {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 20px;
      // background-color: #9dd458;
      background-color: transparent;

      border-radius: 18px;
      color: #fff;
      position: relative;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      color: #9dd458;
      font-weight: 600;
      border: 2px solid #9dd458;
      svg {
        margin: 0 10px 0 0;
      }
    }
    &-favorite {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 20px;
      background-color: crimson;
      border-radius: 18px;
      color: #fff;
      position: relative;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      color: #fff;
      border: none;
      svg {
        margin: 0 10px 0 0;
      }
    }
  }
}
