.main-page {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    // font-size: 32px;
    font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
    margin: 0 0 30px 0;
  }

  &-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f3f3f3;
    background-color: #fff;
    padding: 15px 18px;
    border-radius: 10px;
    input {
      margin: 0px 15px 0px 15px;
      border: none;
      outline: none;
      // padding: 10px 20px;
      font-size: 14px;
      font-weight: 400;
      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: #c4c4c4;
      }
    }
    svg {
      cursor: pointer;
      transition: all 0.2s ease;
      color: #636363;
      &:hover {
        // opacity: 0.7;
        color: red;
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(210px, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    gap: 40px;
    margin: 20px 0;
  }
}

@media(max-width: 1150px) {
  .main-page {
    &-grid {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      gap: 20px;
    }
  }
}
@media(max-width: 840px) {
  .main-page {
    &-grid {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      gap: 20px;
    }
  }
}
@media(max-width: 620px) {
  .main-page {
    &-title {
      margin: 0 0 20px 0;
    }
    &-header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-grid {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
      gap: 20px;
    }
  }
}
